
@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_LoginLayoutPage.cshtml";
}

<div class="limiter">
    <div class="container-login100">
                    <span class="txt1 p-b-9">
                        <span><b>Deactive Account!!!</b></span>
                        <br />
                        <span>Your account was block. Please contact administrator.</span>
                        
                    </span>
    </div>
</div>


